<div style="text-align:center">
    <h1>
      {{ title }}!
    </h1>
    <img width="300" alt="Uster Logo" src="assets/img/usterApp.png" >
  </div>
  <h2>Opciones </h2>
  <ul>
    <li>
      <h2><a routerLink="/vehicle" routerLinkActive="active">Gestión Vehículos</a></h2>
    </li>
    <li>
      <h2><a routerLink="/driver" routerLinkActive="active">Gestión Conductores</a></h2>
    </li>
    <li>
      <h2><a routerLink="/trip" routerLinkActive="active">Gestión Viajes</a></h2>
    </li>
  </ul>